<header>
  <div class="navbar-brand">YelpCamp</div>

  <nav class="navbar">
    <div class="container">
      <ul class="navbar-nav">
        <li class="navbar-item">
          <a href="/" class="navbar-link">Home</a>
        </li>
        <li class="navbar-item">
          <a href="/campgrounds" class="navbar-link">Campgrounds</a>
        </li>
        <li class="navbar-item">
          <a href="/campgrounds/new" class="navbar-link">New Campgrounds</a>
        </li>
      </ul>
    </div>
  </nav>
  <button class="navbar-toggle">
    <i class="fa-solid fa-bars"></i>
  </button>
</header>

<nav class="mobile-navbar">
  <ul class="mobile-navbar_nav">
    <li class="mobile-navbar_item">
      <a href="#aboutme" class="mobile-navbar_link">About Me</a>
    </li>

    <li class="mobile-navbar_item">
      <a href="#projects" class="mobile-navbar_link">Projects</a>
    </li>

    <li class="mobile-navbar_item">
      <a href="#workexperience" class="mobile-navbar_link">Work experience</a>
    </li>

    <li class="mobile-navbar_item">
      <a href="#qualifications" class="mobile-navbar_link">Qualifications</a>
    </li>

    <li class="mobile-navbar_item">
      <a href="#modal-btn" class="mobile-navbar_link">Contact Me</a>
    </li>
  </ul>
</nav>
