<header>
  <nav class="navbar">
    <div class="navbar-header">
      <div class="navbar-brand">YelpCamp</div>
      <div class="navbar-toggle">
        <i class="fa fa-bars"></i>
      </div>
    </div>
    <ul class="navbar-nav">
      <li class="navbar-item">
        <a href="/campgrounds" class="navbar-link">Campgrounds</a>
      </li>
      <li class="navbar-item">
        <a href="/campgrounds/new" class="navbar-link">New Campgrounds</a>
      </li>
      <% if(!user) { %>
      <li class="navbar-item">
        <a href="/register" class="navbar-link">Register</a>
      </li>
      <li class="navbar-item">
        <a href="/login" class="navbar-btn">Log In</a>
      </li>
      <% } else { %>
      <li class="navbar-item">
        <a href="/signout" class="navbar-btn">Log Out</a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
