<header>
  <nav class="navbar">
    <div class="navbar-brand">YelpCamp</div>
    <div>
      <ul class="navbar-nav">
        <li class="navbar-item">
          <a href="/" class="navbar-link">Home</a>
        </li>
        <li class="navbar-item">
          <a href="/campgrounds/new" class="navbar-link">New Campgrounds</a>
        </li>
        <li class="navbar-item">
          <a href="/campgrounds/" class="navbar-link">Campgrounds</a>
        </li>
      </ul>
    </div>
    <a href="#" class="navbar-toggle">
      <i class="fa-solid fa-bars"></i>
    </a>
  </nav>
</header>
