<% layout('layouts/boilerplate') %>

<div class="mt-6 alert alert-failure">
  <span class="closebtn"><i class="fa-solid fa-xmark"></i></span>
  <strong><%= err.message %>></strong>
  <p><%= err.stack %></p>
</div>
