<% layout('layouts/boilerplate') %>
<h1>Campgrounds will go here</h1>

<div>
  <a href="/campgrounds/new">Create new campground</a>
</div>
<div class="grid-container">
  <ul>
    <% for (let camp of campgrounds) { %>
    <li>
      <a href="/campgrounds/<%= camp._id %>"><%= camp.title %></a>
    </li>
    <% } %>
  </ul>
</div>
