<% layout('layouts/boilerplate') %>
<div class="new-campground">
  <form
    class="form"
    id="campgroundForm"
    action="/campgrounds"
    method="post"
    enctype="multipart/form-data"
  >
    <h1>New Campground</h1>
    <div class="form-group">
      <label class="form-label" for="title">Title:</label>
      <input
        class="form-control"
        type="text"
        id="title"
        name="campground[title]"
      />
      <small></small>
    </div>

    <div class="form-group">
      <label class="form-label" for="description">Description:</label>
      <input
        class="form-control"
        type="text"
        id="description"
        name="campground[description]"
      />
      <small></small>
    </div>

    <div class="form-group">
      <label class="form-label" for="price">Price:</label>
      <input
        class="form-control"
        type="number"
        id="price"
        name="campground[price]"
        min="0"
        step="any"
      />
      <small></small>
    </div>

    <div class="file-upload">
      <input
        class="file-upload__input"
        type="file"
        name="image"
        id="image"
      />
      <button class="file-upload__button" type="button">Choose File(s)</button>
      <span class="file-upload__label"></span>
    </div>

    <!-- <div class="form-group">
      <label class="form-label" for="image">Image:</label>
      <input
        class="form-control"
        type="text"
        id="image"
        name="campground[image]"
      />
      <div id="message"></div>
    </div> -->

    <div class="form-group">
      <label class="form-label" for="location">Location:</label>
      <input
        class="form-control"
        type="text"
        id="area"
        name="campground[location]"
      />
      <small></small>
    </div>

    <div class="form-group">
      <input
        id="submit"
        type="submit"
        value="Add Campground"
        class="btn btn-violet"
      />
      <a class="btn btn-violet" href="/campgrounds">Back to campgrounds</a>
    </div>
  </form>
</div>

<script>
  const campgroundForm = document.getElementById('campgroundForm');

  const title = document.getElementById('title');
  const description = document.getElementById('description');
  const price = document.getElementById('price');
  const image = document.getElementById('image');
  const location = document.getElementById('location');

  campgroundForm.addEventListener('submit', e => {
    e.preventDefault();

    // campgroundInputs();
  });

  function campgroundInputs() {
    const titleValue = title.value.trim();
    const descriptionValue = description.value.trim();
    const imageValue = image.value.trim();
    const priceValue = price.value.trim();
    const locationValue = location.value.trim();

    if (titleValue === '') {
      setErrorFor(title, 'Campground title cannot be blank');
    } else {
      setSuccessFor(title);
    }

    if (descriptionValue === '') {
      setErrorFor(description, 'Campground title cannot be blank');
    } else {
      setSuccessFor(description);
    }
  }

  function setErrorFor(input, message) {
    const formGroup = input.parentElement;
    const small = formGroup.querySelector('small');

    formGroup.className = 'form-group error';
    small.innerText = message;
  }

  function setSuccessFor() {
    const formGroup = input.parentElement;
    formGroup.className = 'form-group success';
  }
</script>
