<% layout('layouts/boilerplate') %>
<div class="new-campground">
  <h1>New Campground</h1>
  <form id="campgroundForm" action="/campgrounds" method="post">
    <div class="form-group">
      <label class="form-label" for="title">Title:</label>
      <input
        class="form-control"
        type="text"
        id="title"
        name="campground[title]"
      />
      <div id="message"></div>
    </div>

    <div class="form-group">
      <label class="form-label" for="description">Description:</label>
      <input
        class="form-control"
        type="text"
        id="description"
        name="campground[description]"
      />
      <div id="message"></div>
    </div>

    <div class="form-group">
      <label class="form-label" for="price">Price:</label>
      <input
        class="form-control"
        type="number"
        id="price"
        name="campground[price]"
        min="0"
        step="any"
      />
      <div id="message"></div>
    </div>

    <div class="form-group">
      <label class="form-label" for="image">Image:</label>
      <input
        class="form-control"
        type="text"
        id="image"
        name="campground[image]"
      />
      <div id="message"></div>
    </div>

    <div class="form-group">
      <label class="form-label" for="location">Location:</label>
      <input
        class="form-control"
        type="text"
        id="area"
        name="campground[location]"
      />
      <div id="message"></div>
    </div>

    <div class="form-group">
      <input
        id="submit"
        type="submit"
        value="Add Campground"
        class="btn btn-violet"
      />
      <a class="btn btn-violet" href="/campgrounds">Back to campgrounds</a>
    </div>
  </form>
</div>
