<% layout('layouts/boilerplate') %>
<div class="new-campground">
  <form
    id="campgroundForm"
    action="/campgrounds"
    method="post"
    enctype="multipart/form-data"
  >
    <h1>New Campground</h1>
    <div class="form-group">
      <label class="form-label" for="title">Title:</label>
      <input
        class="form-control"
        type="text"
        id="title"
        name="campground[title]"
      />
      <div id="message"></div>
    </div>

    <div class="form-group">
      <label class="form-label" for="description">Description:</label>
      <input
        class="form-control"
        type="text"
        id="description"
        name="campground[description]"
      />
      <div id="message"></div>
    </div>

    <div class="form-group">
      <label class="form-label" for="price">Price:</label>
      <input
        class="form-control"
        type="number"
        id="price"
        name="campground[price]"
        min="0"
        step="any"
      />
      <div id="message"></div>
    </div>

    <div class="file-upload">
      <input
        class="file-upload__input"
        type="file"
        name="image"
        id="image"
        multiple
      />
      <button class="file-upload__button" type="button">Choose File(s)</button>
      <span class="file-upload__label"></span>
    </div>

    <!-- <div class="form-group">
      <label class="form-label" for="image">Image:</label>
      <input
        class="form-control"
        type="text"
        id="image"
        name="campground[image]"
      />
      <div id="message"></div>
    </div> -->

    <div class="form-group">
      <label class="form-label" for="location">Location:</label>
      <input
        class="form-control"
        type="text"
        id="area"
        name="campground[location]"
      />
      <div id="message"></div>
    </div>

    <div class="form-group">
      <input
        id="submit"
        type="submit"
        value="Add Campground"
        class="btn btn-violet"
      />
      <a class="btn btn-violet" href="/campgrounds">Back to campgrounds</a>
    </div>
  </form>
</div>

<script>
  const campgroundForm = document.getElementById('campgroundForm');

  const validate = e => {
    e.preventDefault();

    const campgroundTitle = document.getElementById('title');
  };
</script>
