<% layout('layouts/boilerplate') %>
<div class="new-campground">
  <h1>New Campground</h1>
  <form id="form" action="/campgrounds" method="post">
    <div class="form-group">
      <label class="form-label" for="title">Title:</label>
      <input
        class="form-control"
        type="text"
        id="title"
        name="campground[title]"
      />
      <small id="error"></small>
    </div>

    <div class="form-group">
      <label class="form-label" for="description">Description:</label>
      <input
        class="form-control"
        type="text"
        id="description"
        name="campground[description]"
      />
    </div>

    <div class="form-group">
      <label class="form-label" for="price">Price:</label>
      <input
        class="form-control"
        type="number"
        id="price"
        name="campground[price]"
        min="0"
        step="any"
      />
    </div>

    <div class="form-group">
      <label class="form-label" for="location">Location:</label>
      <input
        class="form-control"
        type="text"
        id="location"
        name="campground[location]"
      />
    </div>

    <div class="form-group">
      <button class="btn btn-violet">Add Campground</button>
      <a class="btn btn-violet" href="/campgrounds">Back to campgrounds</a>
    </div>
  </form>
</div>
