.bg-purple {
  background-color: $purple;
}
.bg-pink {
  background-color: $pink;
}
.bg-light {
  background-color: $light;
}
.bg-primary {
  background-color: $green;
}
.bg-gold {
  background-color: $gold;
}
.bg-orangered {
  background-color: $orangered;
}
.bg-mediumpurple {
  background-color: $mediumpurple;
}
.bg-blueviolet {
  background-color: $blueviolet;
}
.bg-fuchsia {
  background-color: $fuchsia;
}
.bg-dark-violet {
  background-color: $dark-violet !important;
}
.bg-dark-blue {
  background-color: $blue-dark;
}

.bg-dark {
  background: $dark;
  color: $light;
}

.bg-dark-highlight {
  background: $dark-highlight;
}