.text-purple {
  color: $purple;
}
.text-pink {
  color: $pink;
}
.text-light {
  color: $light;
}
.text-primary {
  color: $green;
}
.text-gold {
  color: $gold;
}
.text-orangered {
  color: $orangered;
}
.text-mediumpurple {
  color: $mediumpurple;
}
.text-blueviolet {
  color: $blueviolet;
}
.text-fuchsia {
  color: $fuchsia;
}
.text-dark-violet {
  color: $dark-violet;
}
.text-dark-blue {
  color: $blue-dark;
}
.text-blue-light {
  color: $blue-light;
}
