$green: #55c57a;
$green-light: #7ed56f;
$green-dark: #28b485;
$main-green: #0e4f1f;
$secondary-green: #2ddf5c;
$thrid-green: #19b84c;
$light-green: #d5ffdc;
$forest-green: #424242;

$gold: #ffb900;
$orangered: #ff7730;

$blue-light: #2998ff;
$blue-dark: #5643fa;
$form-checkbox:#1c1cf0;
$dark-blue: #050A30;
$navy-blue: #000C66;
$blue: #0000FF;
$baby-blue: #7EC8E3;

$pink: #eb2f64;
$pink-light: #ff3366;
$pink-dark: #ba265d;

$main-pink: #ff1b68;
$rose-pink: #ffcede;

$purple: #896FBC;
$mediumpurple: #9370db;
$blueviolet: #8a2be2;
$dark-violet: #9400d3;
$purple-dark: #8b008b;
$fuchsia: #ff00ff;
$indigo: #420264;
$violet: #5C038C;

$silver: #c0c0c0;

$grey-light-1: #faf9f9;
$grey-light-2: #f4f2f2;
$grey-light-3: #f0eeee;
$grey-light-4: #ccc;
$grey-light-5: #eee;
$grey-light-6: #708090;

$light: #fff;
$dark: #000;
$dark-highlight: rgba(0,0,0,0.8);

$grey-light: #f7f7f7;
$grey-dark: #777;
$grey-dark-2: #999;
$grey-dark-3: #333;

$card-border: #999;

$border: 0.8px solid $silver;

$main-font: 'Nunito', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$thrid-font: 'Montserrat', sans-serif;

