@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
  font-size: 62.5%;
  background: $violet;
}

.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}