.container {
  display: block;
  width: 100%;
  padding: .5rem 2rem;
}

.container-flex {
  display: flex;

  width: 100%;
  margin: 0 auto;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 1rem;

  @include view(phablet) {
    grid-template-columns: auto auto;
  }

  @include view(tablet) {
    grid-template-columns: auto auto auto;
    // gap: 1rem;
    
  }
}