.campground {

    display: grid;
    grid-template-columns: 1fr;

    gap: 1rem;

    .card {
        width: 80%;
    }

}

.flash-container {
    padding-top: 1rem;
}

@include view(phablet) {
    .campground {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@include view(desktop) {
    .campground {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .card {
            width: 70%;
        }
    }
}