.new-campground {
    padding: 1rem 0;

    & h1 {
        text-align: center;
        padding-bottom: 1rem;
        margin: auto;
        color: $dark-violet;
    }

    & form {
        padding: 0 2rem;
        margin: auto;
    }
}


@include view(tablet) {
    .new-campground {


        & form {
            width: 50%;

        }
    }
}