.show-campground {
    padding: .5rem 0 6rem; 
}

.campground-review {
    width: 60%;
    margin: auto;
}

.review-forms {
    width: 100%;
    margin: auto;
    border-bottom: 3px solid $blueviolet;
    padding-bottom: 2rem;
}

.review-content {
    color: $dark;
    background-color: $light;
    margin: auto;

    width: 40%;
}
