.show-campground {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    margin: 6rem auto;

    .card {
        width: 90%;
    }


    @include view(tablet) {
        .show-campground {
            grid-template-columns: repeat(4,
                [col] 100px);
            
        }

        .tabs {
            grid-column: 1;
        }

        .campground-content {
            grid-column: 2 / 4;
        }

        .card {
            width: 70%;
            margin: auto;
        }
    }
}