.accordion {
    width: 100%;
    background-color: $grey-dark-2;
    text-align: center;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s linear;
    color: $light;
}

.accordion:hover,
.accordion:focus {
    outline: none;
    background-color: $grey-dark-2;
}

.accordion-content {
    background-color: $grey-dark;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    text-align: center;

    p {
        padding-bottom: 15px;
        text-align: center;
    }

    ul {
        list-style: none;
        padding-bottom: 15px;
        text-align: center;
    }
}

@include view(phablet) {
    .qualifications {

        & .section-title {
            margin: auto;
        }

        & .accordion,
        & .accordion-content {
            width: 80%;
            margin: auto;
        
            
        
            & p {
                text-align: left;
            }
        
            & ul {
                text-align: left;
            }
        }
        }
    }