.card {

    text-align: center;
    border-radius: 1.5rem;
    height: fit-content;
    width: 800%;
    margin: 1rem auto;

    &-img-top {
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        width: 100%;
        height: 250px;
    }

    &-header {
        // border-top-left-radius: 1.5rem;
        // border-top-right-radius: 1.5rem;

        padding: .8rem;
        color: $light;
        font-weight: bold;
        font-size: 1.2rem;
        background: $navy-blue;
    }

    &-body {
        padding: 1rem;
        color: $dark;
        font-size: 1rem;
        background: $grey-light-1;
        margin: auto;
        
    }

    &-footer {
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    
        padding: 1.2rem .8rem;
        color: $light;
        font-weight: bold;
        font-size: 1.2rem;
        background: $navy-blue;
    }

    &-title {
        padding: .6rem 0;
    }

    &-price {
        // font-size: 1.5rem;
        float: right;
    }

    &-author {
        float: left;
    }

    &-item {
        padding: 1.5rem .9rem;
    }

    &-items {
        list-style: none;
    }

    &-features {
        list-style: none;
        columns: 2;

        &-items {
            padding: .3rem 0;
        }
    }
}


@include view(phablet) {
    .card {
        width: 80%;
        margin: 1rem auto;
    }
}

@include view(tablet) {
    .card {
        width: 70%;
    }
}