.dropdown {

    &-menu {
        list-style: none;
        cursor: pointer;
    }

    &-content {
        display: none;
    }

    &-item {
        
        & a {
            color: $light;
        }
    }
}