.tab {
    overflow: hidden;
    width: fit-content;
    align-items: center;

    display: flex;
    flex-direction: column;

    width: 100%;

    & button {
        width: 100%;
        text-align: center;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 1rem 2rem;
        background-color: $blueviolet;
        color: $light;
        border-top: 2px solid $navy-blue;
        border-bottom: 2px solid $navy-blue;
        transition: .3s;

        &:hover{
            background-color: $navy-blue;
            border-left: 2px solid $blueviolet;
            border-right: 2px solid $blueviolet;
        }
    }

    & button.active {
        background-color: $navy-blue;
        color: $light;
    }
}

// .tabslink-active {
//     background-color: $blueviolet;
//     color: $light;
// }

.tabcontent {
    display: none;
    width: 100%;
    padding: 2rem;

    & form {
        width: 40%;
        margin: auto;
    }

    & .card {
        width: 95%;
    }

}


@include view(phablet) {
    .tab {
        display: flex;
        flex-direction: row;
    }

    .tabcontent {

        & .card {
            width: 70%;
        }
    }
}

@include view(tablet) {
    .tabcontent {

        & .card {
            width: 60%;
        }
    }
}

@include view(desktop) {
    .tabcontent {

        & .card {
            width: 25%;
        }
    }
}