.navbar {


  &-brand {
    font-size: 1.3rem;
    margin-left: 1rem;
    color: $blueviolet;
    font-weight: bolder;
  }

  &-img {
    height: 2.5rem;
    vertical-align: middle;
    margin-left: .6rem;
  }

  &-toggle {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    vertical-align: middle;

    & i {
      width: 100%;
      display: block;
      font-size: 1.3rem;
      color: $light;

      &:hover {
        color: $grey-dark-3;
      }
    }
  }

  &-nav {
    display: none;
  }

  &-item {
    list-style: none;
    display: flex;
    margin: 0 1rem;
  }

  &-link {
    text-decoration: none;
    padding: .3rem 0;
    font-weight: bold;
    color: $light;
    font-size: 1rem;

    &:hover {
      color: $blueviolet;
      border-bottom: 2px solid $blueviolet;
    }
  }

  &-cta {
    text-decoration: none;
    background: $blueviolet;
    padding: .1rem 1rem;
    color: $light;
    
    border-radius: 10px;

    font-size: 1.2rem;

    transition: all .4s ease 0s;

    cursor: pointer;

    &:hover {
      background: $light;
      color: $blueviolet;
      border: 1.3px solid $blueviolet;
    }
  }
}

.mobile-navbar {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 111;
  top: 0;
  left: 0;
  width: 60%;
  height: 100vh;
  background: $dark-blue;

  transition: all .5s ease-in-out 0s;

  &_nav {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_item {
    margin: 1rem 0;
    font-size: 1.5rem;

  }

  &_link {
    text-decoration: none;
    color: $light;

    &:hover {
      color: $blueviolet;
      border-bottom: 2px solid $blueviolet;
    }
  }

  &_cta {
    background: $blueviolet;
    color: $light;

    
    padding: .5rem 2rem;
    border-radius: 20px;

    text-decoration: none;

    transition: all ease .5s 0s;

    &:hover {
      background: $blueviolet;
      color: $light;
      border: 1.5px solid $blueviolet;
    }
  }
}

@include view(phablet) {
  .navbar {

    &-toggle {
      display: none;
    }

    &-nav {
      display: flex;
    }
  }
}