.navbar {
  background-color: $dark-blue;

  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &-brand {
    padding: 1rem;
    font-size: 1.3rem;
    color: $blueviolet;
    text-transform: uppercase;
    font-weight: bolder;
  }

  &-toggle {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    width: 2rem;

    & i {
      display: flex;
      width: 100%;

      font-size: 1.5rem;
      color: $light;

      &:hover {
        color: $blueviolet;
      }
    }
  }

  &-nav {
    height: 100%;

    display: none;
    flex-direction: column;
    opacity: 0;

    margin: 0;
    padding: 0;
  }

  &-item {
    list-style: none;
    align-items: center;
  }

  &-link {
    display: block;

    text-decoration: none;
    color: $light;
    padding: .5rem 1rem;

    &:hover {
      background-color: $blueviolet;
    }
  }
}

@include view(tablet) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &-toggle {
      display: none;
    }

    &-nav {
      display: flex;
      flex-direction: row;
      opacity: 1;
    }
  }
}